@{ 
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<section id="home" class="top_section">
    <div class="my_slide">
        <div class="mySlides slide1">
            <article class="desktop">
                <img width="100%" height="auto" src="/img/top-bg.png">
            </article>
            <article class="mobile">
                <img width="100%" height="auto" src="/img/m-top-bg.png">
            </article>
        </div>
        <div class="mySlides slide2">
            <article class="desktop">
                <img width="100%" height="auto" src="/img/top-bg2.png">
            </article>
            <article class="mobile">
                <img width="100%" height="auto" src="/img/m-top-bg2.png">
            </article>
        </div>
        <div class="dot_group">
            <span class="dot active" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
    </div>
    <aside class="mobile">
        <img width="100%" height="auto" src="/img/top-sp.png">
    </aside>
    <aside class="reg_aside">
        <h2>Đăng ký tư vấn & nhận ưu đãi</h2>
        <p>
            Vui lòng nhập thông tin ở dưới để<br> chúng tôi liên hệ và tư vấn
            thêm cho bạn nhé!
        </p>
        <table class="reg_form">
            <tr>
                <td>Họ và tên:</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>Số điện thoại:</td>
                <td><input type="text" /></td>
            </tr>
        </table>
        <a class="btn-reg" href="thankyou.html">Đăng ký tư vấn</a>
        <img src="/img/sdt.png" />
    </aside>
</section>
<section>
    <article id="used">
        <div class="used_head">
            <img src="/img/slogan.png">
        </div>
        <div class="section group">
            <div class="col span_1_of_3">
                <img alt="" src="/img/used/1.png">
                <p>
                    Giúp mi mọc tốt với 5 tiêu chí:<br> Dày - Dài - Cong - Đen -
                    Bóng như
                </p>
            </div>
            <div class="col span_1_of_3">
                <img alt="" src="/img/used/2.png">
                <p>
                    Phục hồi mau chóng những hư tổn do các sản phẩm kém chất
                    lượng trước đây gây ra
                </p>
            </div>
            <div class="col span_1_of_3">
                <img alt="" src="/img/used/3.png">
                <p>
                    Giữ cho vùng da quanh mắt luôn căng mịn, tươi tắn tràn đầy
                    sức sống
                </p>
            </div>
        </div>
        <div class="section group">
            <div class="col span_1_of_3">
                <img alt="" src="/img/used/4.png">
                <p>
                    Kích thích các nang lông khoẻ hơn, và cải thiện các nang
                    lông mi mềm và dễ gãy giúp tăng độ đàn hồi cho lông mi
                </p>
            </div>
            <div class="col span_1_of_3">
                <img alt="" src="/img/used/5.png">
                <p>
                    Chất chống oxy hoá tự nhiên mạnh mẽ sẽ chữa trị và bảo vệ
                    vùng da nhạy cảm xung quanh mắt
                </p>
            </div>
            <div class="col span_1_of_3">
                <img alt="" src="/img/used/6.png">
                <p>
                    Bảo vệ một lớp oxy hoá tự nhiên giúp mi chống lại các tác
                    động không tốt từ môi trường
                </p>
            </div>
        </div>
    </article>
    <article id="how" class="list">
        <div>
            <img class="desktop topline" src="/img/desktop-3.png">
            <img class="mobile topline" src="/img/mobile-3.png">
            <ul>
                <li>
                    Bảo vệ một lớp oxy hoá tự nhiên giúp mi chống lại các tác động
                    không tốt từ môi trường.
                </li>
                <li>
                    Hàng đêm trước khi đi ngủ sử dụng NuTra Luxe Lash MD như bút
                    kẻ mắt nước, chải một nét duy nhất lên mí mắt và chân mày
                </li>
                <li>
                    Không nhúng thêm, lượng chất lỏng trên bàn chải là đủ cho chân
                    mày, lông mi trên và dưới cả 2 mắt.
                </li>
                <li>
                    Không chải quá gần với các cạnh của mí mắt và tránh chất lỏng
                    dư thừa vào mắt.
                </li>
                <li>
                    Nếu chất lỏng NuTra Luxe Lash MD rơi vào mắt, rửa sạch ngay
                    với nước.
                </li>
                <li>
                    Luôn luôn áp dụng NuTra Luxe Lash MD với sự chăm sóc tối đa và
                    theo chỉ dẫn.
                </li>
            </ul>
            <img class="desktop pro" src="/img/desktop-3-1.png">
        </div>
    </article>
    <article id="register" class="footer_img">
        <img class="product" src="/img/img_footer.png">
        <div class="mobile680">
            <a href="#home"><img class="btn_reg" src="/img/reg.png"></a>
        </div>
    </article>
</section>