
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<section>
    <article id="thankyou" class="list2">
        <div class="thankContent">
            <div class="section group">
                <div class="col span_2_of_3">
                    <aside>
                        <div>Bạn đã đăng ký tư vấn thành công. <br> Chúng tôi sẽ liên hệ với bạn trong thời gian ngắn nhất.</div>
                        <a class="btn-back" href="index.html">Trờ về</a>
                    </aside>
                </div>
                <div class="col span_1_of_3 product">
                    <img src="/img/desktop-3-1.png">
                </div>
            </div>
            </div>
    </article>
</section>