@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Zaloka</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/javascript/common.js"></script>

    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MMM8D5');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMM8D5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <img class="desktop680 logo" src="/img/logo.png">
        <img class="mobile680  logo" src="/img/logoM.png">
        <ul id="menu" class="topnav">
            <li class="menu_item home"><a href="#home" class="selected">Trang chủ</a></li>
            <li class="menu_item"><a href="#used">Công dụng</a></li>
            <li class="menu_item"><a href="#how">Cách sử dụng</a></li>
            <li class="menu_item"><a id="dktvm" href="#register">Đăng ký tư vấn</a></li>
            <li class="icon"><a href="javascript:void(0);" onclick="openMenu()">☰</a></li>
        </ul>
    </header>

    @RenderBody()

    <footer class="desktop680">
        <div class="group">
            <aside class="r_border">
                TRUNG TÂM TOMATO<br> E5, Đường Trần Não, Quận 2, TPHCM<br>
                Hotline: 0120 7162897<br>
            </aside>
            <aside class="">
                <ul>
                    <li>Chuyên gia hổ trợ tư vấn 24/7</li>
                    <li>Giao hàng MIỄN PHÍ tận nơi toàn quốc</li>
                    <li>Cam kết 100% hàng chính hãng từ Mỹ</li>
                </ul>
            </aside>
        </div>
    </footer>
    <div class="mobileFooter mobile680">
        <div><strong>TRUNG TÂM TOMATO</strong></div>
        <div>Địa chỉ: E5, Đường Trần Não, Quận 2, TPHCM</div>
    </div>
    <script>
	$('a[href^="#"]').on('click', function (e) {
	        e.preventDefault();
	        $(document).off("scroll");
	        $('a').each(function () {
	            $(this).removeClass('selected');
	        })
	        $(this).addClass('selected');
	         var target = this.hash,
	         menu = target;
	        $target = $(target);
			$('html, body').stop().animate({
	            'scrollTop': $target.offset().top+2
	        }, 600, 'swing', function () {
	            window.location.hash = target;
	            $(document).on("scroll", onScroll);
	        });
	    });
    </script>
</body>
</html>

